@CHARSET "UTF-8";

body{
	background: #CDCDCD;
}
.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: -web-kit-linear-gradient(rgb(255, 255, 255) 0%, rgb(246, 246, 246) 47%, rgb(237, 237, 237) 100%);
	background: linear-gradient(rgb(255, 255, 255) 0%, rgb(246, 246, 246) 47%, rgb(237, 237, 237) 100%);
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	-moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	z-index: 100;
}

.header .column {
	float: left;
}

.header .logo {
	width: 20%;
	height: 100%;
	text-align: center;
}

.header .logo img {
	width: 60px;
	margin-top: 1px;
}

.header .menu {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header .menu .navbar {
	margin: 0;
}
.menu ul li a:hover{
	color: #D2AC59 !important;
}
.header .menu .navbar-unstyle {
	background-image: none;
	-webkit-box-shadow: none;
	background-color: transparent;
	box-shadow: none;
	border: none;
}

.header .user {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 40px;
}

.inner-wrapper {
	position: relative;
	width: 70%;
	min-height: 500px;
	margin: 0 auto;
	margin-top: 65px;
	border: 1px solid #C0C0C0;
	background-color: #fff; 
}

.inner-wrapper #dashboard{	
	position: relative;
	width: 100%;
	min-height: 500px;
}

 .inner-wrapper #dashboard #industry li{
	display: flex; 
	align-items: center; 
	margin: 3px 0;
}

 .inner-wrapper #dashboard #industry li a.btn{
 	padding: 1px 6px;
 }

.inner-wrapper .input-elements {
	margin: 15px 0;
}

.inner-wrapper #search #btn-search {
	width: 100px;
}

.inner-wrapper #create-cv {
	padding: 8px;
}

.inner-wrapper #create-cv .input-elements {
	display: flex;
	align-items: center;
}

.inner-wrapper #create-cv .radio,.inner-wrapper #create-cv .checkbox {
	margin: 0;
}

.inner-wrapper #create-cv .label-title {
	text-align: left;
	font-weight: 100 !important;
}

.inner-wrapper #create-cv .label-title label {
	font-weight: 100;
}

.inner-wrapper #create-cv #basic-info .label-title {
	width: 29%;
}

.inner-wrapper #create-cv #cv-bottom-bar {
	padding: 0;
	margin: 0;
}

hr.seperation{	
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #BBB9AC;
	border-bottom: 1px solid #FFFFFF;
}

.panel-title {
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}
.panel-default {
	border-color: #E4B118;
}
.panel-default>.panel-heading {
	background-image: none;
	color: #333;
	background-color: #E4B118;
	box-shadow: none;
}
#user-login .input-elements{
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}
#user-login .input-elements label{
	font-weight: 100;
}
#user-login .panel-title{
	text-align: center;
}
.error{
	
}