@CHARSET "UTF-8";

*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	padding: 0;
}

.panel-title {
	text-transform: uppercase;
}

.pane1,.pane2 {
	float: left;
}

.pane1 {
	margin-right: 30px;
	margin-left: 58px;
}

.pane2 {
	margin-right: 30px;
	margin-left: 58px;
}

.pane3 {
	float: right;
}

#keyword-search {
	width: 541px;
	margin-top: 14px;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.company-logo {
	width: auto;
	padding: 5px 0;
}

.company-logo img {
	width: 60px;
	margin-top: 7px;
}

.menu ul li:hover ul {
	display: block;
}

.top-fixed-bar {
	background: -moz-linear-gradient(top, rgba(209, 209, 209, 0) 0%,
		rgba(211, 211, 211, 0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(209,
		209, 209, 0)), color-stop(100%, rgba(211, 211, 211, 0.65)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(209, 209, 209, 0) 0%,
		rgba(211, 211, 211, 0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(209, 209, 209, 0) 0%,
		rgba(211, 211, 211, 0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(209, 209, 209, 0) 0%,
		rgba(211, 211, 211, 0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(209, 209, 209, 0) 0%,
		rgba(211, 211, 211, 0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d1d1d1',
		endColorstr='#a6d3d3d3', GradientType=0); /* IE6-9 */
}

/**** Login block ****/
.login-block {
	margin-top: 17px;
}

.login-block .row,.container.header>.row {
	margin: 0;
}

.login-block .col-md-6,.login-block .col-md-3 {
	padding-left: 4px;
	padding-right: 4px;
}

.login-block .col-md-9,.login-block .col-md-12 {
	padding: 0;
}

.login-block .chk-remember {
	margin: 0;
}

.login-block .form-group.input-margin {
	margin-bottom: 5px;
}

@media screen and (max-width: 991px) {
	.login-block .form-group.input-margin {
		margin-bottom: 15px;
	}
}

/*** Search block ***/
#search-block {
	background-color: #95c141;
	padding: 15px 30px;
	border-radius: 5px;
	margin: 20px 0;
}

#search-block input[type=text],#search-block input[type=email],#search-block input[type=password],#search-block input[type=search],#search-block select
	{
	
}

.first-level-header {
	padding: 18px 0;
}

#btn-search {
	width: 95px;
	background-color: #28be68;
	color: #fff;
	text-shadow: 1px 0 1px rgba(29, 152, 46, .9);
}

#btn-search:focus {
	outline: none;
}

/*** Browse jobs ***/
#browse-jobs {
	margin: 0 0 20px 0;
}

#browse-jobs .tab-content {
	padding: 20px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #fff;
}

#browse-jobs .tab-content ul {
	margin: 0;
	padding-left: 10px;
}

#browse-jobs .tab-content ul:after {
	content: '';
	display: table;
	clear: both;
}

#browse-jobs .tab-content ul li {
	list-style-type: none;
	width: 33%;
	display: block;
	float: left;
}

#browse-jobs .tab-content ul li:after {
	content: '';
	display: table;
	clear: both;
}

#browse-jobs .tab-content ul li .text {
	max-width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	margin-right: 11px;
}

#browse-jobs  a{
	color: #5C5C5C;
}

/*** Premium Jobs ***/
#premium-job .list-group,#urgent-job .list-group {
	margin: 0;
}

#premium-job .list-group-item,#urgent-job .list-group-item {
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
}

#premium-job a,#urgent-job a {
	color: #D8A734;
	font-weight: 600;
}

#premium-job a:hover,#urgent-job a:hover {
	color: #f0c86a;
}

/*** Feature companies ***/
#feature-company,#feature-agency {
	margin: 0 0 0 0;
}

#feature-company ul,#feature-agency ul {
	margin: 0;
	padding: 0;
}

#feature-company ul:after,#feature-agency ul:after {
	content: '';
	display: table;
	clear: both;
}

#feature-company ul li,#feature-agency ul li {
	list-style-type: none;
	display: block;
	float: left;
	margin: 12px;
}

/*** top-fixed-bar ***/
.top-fixed-bar {
	position: fixed;
	width: 100%;
	height: 63px;
	z-index: 100;
	background: rgba(255, 255, 255, .97);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

.top-fixed-bar-back {
	width: 100%;
	height: 80px;
}

.member-login-area {
	margin-top: 21px;
}

.member-login-area a,.member-login-area .separator {
	color: #5C5C5C;
	text-transform: uppercase;
}

.separator {
	margin: 0 5px;
}

.side-bar-menu {
	/* 	color: #9E9E9E; */
	
}

.side-bar-menu ul {
	margin-bottom: 15px;
}

.side-bar-menu a {
	color: #5C5C5C;
}

.side-bar-menu a:hover {
	text-decoration: none;
	color: #333;
}

.job-posts {
	background-color: #fff;
	border: 1px solid #E5E5E5;
	box-shadow: 0 0 2px rgba(0, 0, 0, .05);
	border-radius: 5px;
}

.job-post {
	padding: 20px;
}

.job-post:hover {
	background-color: rgba(13, 194, 38, 0.04);
}

.job-post a.job-title {
	color: #0DC226;
	font-size: 16px;
	font-size: 16px;
}

.job-post a.job-title:hover {
	color: #1d982e;
}

.job-post a.job-title h3 {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 13px;
	font-size: 16px;
}

.job-post .job-status {
	margin-left: 12px;
}

.job-post .employer {
	font-weight: 700;
}

.job-post .closing-date {
}

.job-post .salary {
}

.post-seperator {
	margin: 0;
}

.list-group-unstyle {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.view-name {
	color: #9E9E9E;
	text-transform: uppercase;
	margin-bottom: 15px;
}

hr#line-break-footer {
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #fff;
}

#follow ul {
	display: inline;
	padding: 0;
}

#follow li {
	list-style: none;
	display: inline-block;
}

#follow a {
	font-family: FontAwesome;
	font-size: 2.3em;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	-ms-transition: 0.6s;
}

.fb:before {
	content: "\f09a";
}

.tw:before {
	content: "\f099";
}

.gplus:before {
	content: "\f0d5";
}