@CHARSET "UTF-8";

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
	max-width: 970px;
	padding: 0;
}
.company-logo{
	padding: 0;
}
.menu ul li:hover ul{
	display: block;
}
.top-menu {
	width: 100%;
	color: #95c141;
}
.company-logo a{
	display: block;
	width: 191px;
	height: 100px;
	background: url(/assets/images/company-logo.jpg) 0 0 no-repeat;
}

/**** Login block ****/
.login-block{
	margin: 15px 0;
}
.login-block .row,
.container.header > .row{
	margin: 0;
}
.login-block .col-md-6,
.login-block .col-md-3{
	padding-left: 4px;
	padding-right: 4px;
}
.login-block .col-md-9,
.login-block .col-md-12{
	padding: 0;
}
.login-block .chk-remember{
	margin: 0;
}
.login-block .form-group.input-margin{
	margin-bottom: 5px;
}
@media screen and (max-width: 991px){
	.login-block .form-group.input-margin{
		margin-bottom: 15px;
	}
}

/*** Search block ***/
#search-block{
	background-color: #95c141;
	padding: 15px 30px ;
	border-radius: 5px;
	margin: 20px 0;	
}
#search-block input[type=text],
#search-block input[type=email],
#search-block input[type=password],
#search-block input[type=search],
#search-block select{
	
}
.first-level-header{
	padding: 18px 0;
}
#btn-search{
	width: 144px;
}

/*** Browse jobs ***/
#browse-jobs{
	margin: 0 0 20px 0;
}
#browse-jobs .tab-content{
	padding: 20px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#browse-jobs .tab-content ul{
	margin: 0;
	padding-left: 10px;
}
#browse-jobs .tab-content ul:after{
	content: '';
	display: table;
	clear: both;
}
#browse-jobs .tab-content ul li{
	list-style-type: none;
	width: 33%;
	display: block;
	float: left;
}
#browse-jobs .tab-content ul li:after{
	content: '';
	display: table;
	clear: both;
}
#browse-jobs .tab-content ul li .text{	
	max-width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	margin-right: 11px;
}

/*** Premium Jobs ***/
#premium-job .list-group,
#urgent-job .list-group{
	margin: 0;
}
#premium-job .list-group-item,
#urgent-job .list-group-item{
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
}

/*** Feature companies ***/
#feature-company,
#feature-agency{
	margin: 0 0 0 0;
}
#feature-company ul,
#feature-agency ul{
	margin: 0;
	padding: 0;
}
#feature-company ul:after,
#feature-agency ul:after{
	content: '';
	display: table;
	clear: both;
}
#feature-company ul li,
#feature-agency ul li{
	list-style-type: none;
	display: block;
	float: left;
	margin: 12px;
}